<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="com.anhtester.listeners.ExtentTestNGListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Auto Android with Appium 2">
        <classes>
            <class name="com.anhtester.testcases.DemoAppTest">
                <methods>
                    <include name="CheckOutOrderTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
